
.blinkk {
  -moz-animation-duration: 850ms;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  
  -webkit-animation-duration: 850ms;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  
  animation-duration: 850ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  
  60% {
    opacity: 0;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  
  60% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  
  60% {
    opacity: 0;
  }
}